:root {
	--color-blue: rgba(30, 242, 241, .5);
	--color-red: rgba(246, 5, 10, .5);
	--color-file: #292623;
	--color-dir: #302B28;
	--color-lite: #26221F;
	--color-text: white;
	--color-stext: #555;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
html, body {
	margin: 0px;
	height: 100vh;
	overflow: hidden;
	background: #283f3b;
	font-family: sans-serif;
	color: var(--color-text) !important;
	background: -webkit-linear-gradient(left top, #1B3D29, #133337, #1B3D29);
	background: -o-linear-gradient(bottom right, #1B3D29, #133337, #1B3D29);
	background: -moz-linear-gradient(bottom right, #1B3D29, #133337, #1B3D29);
	background: linear-gradient(to bottom right, #1B3D29, #133337, #1B3D29);
}
div#catsarecute {
	width: 900px;
	height: 350px;
	margin: auto;
	position: fixed;
	left:0; right:0;
	top:0; bottom:0;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}
div#catsarecute * {
	vertical-align: top;
	display: inline-block;
}
div#path {
	margin-bottom: 10px;
	color: #555 !important;
}
div#path div {
	display: inline;
}
div#path div:after {
	content: " / ";
}
div#path div:first-child:before {
	content: " » ";
}
div#path div:last-child:after {
	content: "";
}
form#folder {
	margin: 5px;
	width: 800px;
	height: 350px;
	overflow: hidden;
	margin-left: -5px;
	border-radius: 5px;
	background-color: var(--color-lite);
	border: 10px solid var(--color-lite);
}
form#folder div#sbwrapper {
	width: 820px; /* +20 for the stupid scrollbar */
	display: block;
	max-height: 300px;
	overflow-y: scroll;
}
form#folder div#sbwrapper .file {
	width: 100%;
	height: 40px;
	border: none;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 5px;
	position: relative;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	color: var(--color-text);
	transition: .3s text-shadow;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-shadow: 0px 0px 0 var(--color-red), 0px 0px 0 var(--color-blue) !important;
}
form#folder div#sbwrapper .file:hover {
	text-shadow: 4px 4px 0 var(--color-red), -4px -4px 0 var(--color-blue) !important;
}
form#folder div#sbwrapper .filz {
	background-color: var(--color-file);
}
form#folder div#sbwrapper .dirz {
	background-color: var(--color-dir);
}
form#folder div#sbwrapper .filz span.size {
	text-align: left;
	position: absolute;
	left: 15px !important;
}
form#folder div#sbwrapper .file span {
	right: 25px;
	position: absolute;
	color: var(--color-stext)
}
form#navPanel {
	width: 60px;
}
form#navPanel * {
	color: white;
	width: 50px;
	height: 50px;
	margin: 5px;
	padding: 10px;
	display: block;
	font-size: 20px;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	appearance: button;
	border-radius: 5px;
	text-decoration: none;
	box-sizing: border-box;
	font-family: sans-serif;
	border: none !important;
	outline: none !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: var(--color-lite);
	transition: .3s text-shadow, .3s background-color;
	text-shadow: 4px 4px 0 var(--color-red), -4px -4px 0 var(--color-blue) !important;
}
form#navPanel *:hover {
	background-color: #2E2925;
	text-shadow: 0px 0px 0 var(--color-red), 0px 0px 0 var(--color-blue) !important;
}